*{
    margin: 0;
    padding: 0;
}
div{
    width: 100%;
    background-color: red;
    padding: 20px 10px 20px 10px;
    
}
p{
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
}
input{
    width: 70%;
    padding: 10px;
}
.addButton{
    width: 18%;
    padding: 10px;
    background-color: #ddd;
   
}
.addButton:hover{
    background-color: rgb(150, 150  , 150);
}
.closeButton{
    padding: 8px;
    position: absolute;
    right: 0;
    top: -1px;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;

}
.closeButton:hover{
    color: #fff;
    background-color:#FF0000;
}
ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
  }
  
  
  /* Set all odd list items to a different color (zebra-stripes) */

  
  /* Darker background-color on hover */
  ul li:hover {
    background-color:rgb(100,100,100);
  }
  .liClick {
 color:#FFF;
background-color:rgb(100,100,100);
    text-decoration: line-through;
  }
  .hidden{display: none;}